//Fonts
//Family
@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin Roboto_Slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}


@mixin Navigation {
  text-transform: uppercase;
  line-height: 19px;
}

@mixin Calendar {
  font-size: 14px;
  line-height: 14px;
}

@mixin Logo_1 {
	font-size: 22px; 
	line-height: 30px;
}
@mixin Logo_2 {
  font-size: 16px; 
  line-height: 24px;
}
@mixin Logo_3 {
  font-size: 12px; 
  line-height: 16px;
}


@mixin Error_1 {
  font-size: 262px;
  line-height: 307px;
}
@mixin Error_2 {
  font-size: 160px;
  line-height: 187px;
}



@mixin H1 {
  font-size: 42px;
  line-height: 55px;
}
@mixin H2 {
  font-size: 34px;
  line-height: 45px;
}
@mixin H3 {
  font-size: 28px;
  line-height: 37px;
}
@mixin H4 {
  font-size: 20px;
  line-height: 26px;
}


@mixin Subtitle_1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
@mixin Subtitle_2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}
@mixin Subtitle_3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
@mixin Subtitle_4 {
  line-height: 20px;
  font-weight: 500;
}
@mixin Subtitle_5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}


@mixin Body_1 {
  font-size: 16px;
  line-height: 24px;
}
@mixin Body_2 {
  font-size: 12px;
  line-height: 20px;
}
@mixin Bold {
  font-weight: bold;
}


@mixin Text_1 {
  font-size: 42px;
  line-height: 49px;
}
@mixin Text_2 {
  font-size: 28px;
  line-height: 33px;
}
@mixin Text_3 {
  font-size: 22px;
  line-height: 32px;
}
@mixin Text_4 {
  font-size: 18px;
  line-height: 24px;
}
@mixin Text_5 {
  font-size: 14px;
  line-height: 20px;
}

@mixin Text_Light_1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
@mixin Text_Light_2 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}


@mixin Link_1 {
  font-size: 18px;
  line-height: 21px;
}
@mixin Link_2 {
  font-size: 16px;
  line-height: 19px;
}
@mixin Link_3 {
  font-size: 14px;
  line-height: 20px;
}
@mixin Link_4 {
  font-size: 12px;
  line-height: 16px;
}
@mixin Link_Hover {
  text-decoration-line: underline;
}




