/*<====== Медиа запросы ======>*/

/*<====== XL ======>*/
@media only screen and (max-width: 1200px) {
    .test {
        margin: 1px;
    }
}

/*<====== LG ======>*/
@media only screen and (max-width: 992px) {
    .test {
        margin: 1px;
    }
}

/*<====== MD ======>*/
@media only screen and (max-width: 768px) {
    .test {
        margin: 1px;
    }
}

/*<====== SM ======>*/
@media only screen and (max-width: 576px) {
    .test {
        margin: 1px;
    }
}

/*<====== XS ======>*/
@media only screen and (max-width: 360px) {
    .test {
        margin: 1px;
    }
}