/*<====== Медиа запросы ======>*/

/*<====== LG ======>*/
@media only screen and (max-width: 1199px) {

    /*<====== Комбинации ======>*/
    .c-HeaderLogo {
        &_ic-Logo {
            width: 88px;
        }

        &_Text {
            width: 584px;
        }
    }

    /*<====== Модули ======>*/
    .m-Header {
        .c-HeaderLogo {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }
}

/*<====== MD ======>*/
@media only screen and (max-width: 991px) {

    /*<====== Комбинации ======>*/
    .c-NavBar {
        .b-NavLink:nth-child(9) {
            display: none;
        }
    }

    .c-SecondNavigation {
        .b-NavLink:nth-child(4) {
            display: table;
        }
    }
}

@media only screen and (max-width: 924px) {

    /*<====== Комбинации ======>*/
    .c-NavBar {
        .b-NavLink:nth-child(8) {
            display: none;
        }
    }

    .c-SecondNavigation {
        .b-NavLink:nth-child(3) {
            display: table;
        }
    }
}

@media only screen and (max-width: 815px) {

    /*<====== Комбинации ======>*/
    .c-NavBar {
        .b-NavLink:nth-child(7) {
            display: none;
        }
    }

    .c-SecondNavigation {
        .b-NavLink:nth-child(2) {
            display: table;
        }
    }
}

/*<====== SM ======>*/
@media only screen and (max-width: 767px) {

    /*<====== Комбинации ======>*/
    .c-HeaderLogo {
        &_ic-Logo {
            width: 72px;
        }

        &_Text {
            @include Logo_2;
            width: 426px;
            margin-left: 28px;

            &::after {
                left: -20px;
            }
        }
    }

    /*<====== Модули ======>*/
    .m-Header {
        .c-HeaderLogo {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 695px) {

    /*<====== Комбинации ======>*/
    .c-NavBar {
        .b-NavLink:nth-child(6) {
            display: none;
        }
    }

    .c-SecondNavigation {
        .b-NavLink:nth-child(1) {
            display: table;
        }
    }
}


/*<====== XS ======>*/
@media only screen and (max-width: 575px) {

    /*<====== Базовые элементы ======>*/
    .b-NavLink {
        padding-bottom: 10px;
    }

    /*<====== Комбинации ======>*/
    .c-HeaderLogo {
        &_ic-Logo {
            width: 64px;
        }

        &_Text {
            @include Logo_3;
            width: 252px;
            margin-left: 12px;

            &::after {
                width: 1px;
                left: -12px;
            }
        }
    }

    .c-NavBar {
        position: absolute;
        overflow-y: scroll;
        height: calc(100vh - 36px); //Высота .c-Navigation без паддингов
        right: -200px;
        top: 48px; //Высота .c-Navigation с паддингами
        &_Links {
            margin: 32px;
        }
        .b-NavLink {
            display: table !important;
            margin-left: auto !important;
            margin-bottom: 22px;
        }
    }

    .c-Navigation {
        padding: 6px 8px;
    }

    /*<====== Модули ======>*/
    .m-Header {
        .c-HeaderLogo {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    .m-Header.--Fixed {
        .c-NavBar {
            @include Elevation-4dp;
        }
    }
}
