/*<====== Состояния ======>*/

/*<====== Базовые компоненты ======>*/
.b-NavLink.--Hover:hover,
.b-NavMore.--Hover:hover {
    color: $Primary_Green_500;
}

.b-NavLink.--ActivePage::after {
    display: block;
}

.b-NavMore.--Active {
    color: $Primary_Green_500;
}

.b-NavBurger.--Hover:hover {
    &::after {
        transform: scale(1);
    }
}

.b-NavBurger.--Active {
    .b-NavBurger_Line {
        &:nth-child(1) {
            transform: rotate(45deg);
            top: -1.5px;
            left: 3px;
        }

        &:nth-child(2) {
            width: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            top: 13px;
            left: 3px;
        }
    }
}


/*<====== Комбинации ======>*/
.c-HeaderLogo.--Click:active {
    transform: translateY(1px);
}


.c-NavBar.--Open {
    right: 0;
}

.c-SecondNavigation.--Open {
    max-height: 182px;
}

.c-Navigation_ic-Logo.--Visible {
        margin-left: 0px;

        opacity: 100%;
}


/*<====== Модули ======>*/
.m-Header.--Fixed {
    position: fixed;
    @include Elevation-4dp;

    .c-SecondNavigation {
        @include Elevation-4dp;
    }
}

.m-Header_Overview.--Visible {
    opacity: 40%;
    visibility: visible;
}
