<!DOCTYPE html>
<html lang="RU">

<%- include('../includes/head'); %>

    <body class="body">
        <%- include('../includes/header'); %>

        <%- include('../includes/scripts'); %>
    </body>

</html>