<!DOCTYPE html>
<html lang="RU">

<%- include('../includes/head'); %>

    <body>
        <%- include('../includes/header'); %>

        <main>
            <section>1</section>
            <section>1</section>
            <section>1</section>
            <section>1</section>
            <section>1</section>
            <section>1</section>
            <section>1</section>
        </main>
        <%- include('../includes/footer'); %>
        <%- include('../includes/scripts'); %>
    </body>

</html>