/*<====== Комбинации ======>*/

.c-HeaderLogo {
    padding-top: 52px;
    padding-bottom: 52px;

    &_svg-Logo {
        vertical-align: middle;
        width: 80px;
    }

    &_Text {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 752px;
        margin-left: 40px;
        @include Logo_1;

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: $Primary_Green_500;
            width: 2px;
            height: 100%;
            left: -30px;
            top: 0;
        }
    }
}

.c-Navigation {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #ffffff;
        z-index: 1;
        height: 7px;
        width: 100%;
        bottom: 0;
    }

    &_svg-Logo {
        opacity: 0%;
        margin-left: 4px;
        width: 34px;

        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: opacity, margin-left;
    }

    .b-NavBurger {
        margin-left: auto;
        margin-right: 7px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.c-NavBar {
    position: relative;

    background-color: #fff;
    z-index: 1;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    transition-property: right;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    &_Links {
        margin-top: 15px;
    }

    .b-NavLink {
        display: inline-block;
        &:first-child {
            margin-left: 0;
        }
    }

    .b-NavMore,.b-NavLink {
        margin-left: 28px;
    }
}

.c-SecondNavigation {
    position: absolute;
    right: -33px;
    background-color: #fff;
    padding-right: 33px;
    padding-left: 33px;

    transform-origin: top;
    max-height: 0;

    overflow-y: hidden;

    transition-property: max-height;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    .b-NavLink {
        display: none;

        margin-left: auto;
        margin-bottom: 14px;

        &:first-child {
            margin-top: 7px;
            margin-left: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}